@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: #fff;
  --textSoft: #8d8d8d;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 8px;
  background: var(--bgSoft);
}

::-webkit-scrollbar-thumb{
  background: var(--textSoft);
}

body {
  background-color: var(--bg);
  color: var(--text);
}

img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}